.rdr-DateRange {
  display: block;
  box-sizing: border-box;
  white-space: nowrap;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1em; }
  .rdr-DateRange .rdr-Calendar {
    box-shadow: none; }

.rdr-Calendar {
  display: inline-block;
  box-sizing: border-box;
  width: 280px;
  padding: 10px;
  white-space: normal;
  letter-spacing: 0;
  color: #000000;
  border-radius: 2px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.25) 0 0 1em; }

.rdr-MonthAndYear-innerWrapper {
  font-size: 12px;
  line-height: 18px;
  box-sizing: border-box;
  height: 38px;
  padding: 10px 0;
  text-align: center; }

.rdr-MonthAndYear-button {
  display: block;
  box-sizing: border-box;
  width: 18px;
  height: 18px;
  margin: 0 10px;
  padding: 0;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: #bdc3c7;
  box-shadow: none; }
  .rdr-MonthAndYear-button i {
    display: block;
    width: 0;
    height: 0;
    padding: 0;
    text-align: center;
    border-style: solid; }
  .rdr-MonthAndYear-button.prev {
    float: left; }
    .rdr-MonthAndYear-button.prev i {
      margin: 0 0 0 1px;
      border-width: 4px 6px 4px 4px;
      border-color: transparent #34495e transparent transparent; }
  .rdr-MonthAndYear-button.next {
    float: right; }
    .rdr-MonthAndYear-button.next i {
      margin: 0 0 0 7px;
      border-width: 4px 4px 4px 6px;
      border-color: transparent transparent transparent #34495e; }

.rdr-WeekDay {
  font-size: 12px;
  font-weight: 600;
  line-height: 18.07143px;
  display: inline-block;
  box-sizing: border-box;
  width: 36.14286px;
  height: 18.07143px;
  margin-bottom: 1px;
  text-align: center;
  letter-spacing: initial; }

.rdr-Day {
  font-size: 12px;
  line-height: 36.14286px;
  display: inline-block;
  box-sizing: border-box;
  width: 36.14286px;
  height: 36.14286px;
  cursor: pointer;
  transition: transform 0.1s ease;
  text-align: center;
  letter-spacing: initial; }
  .rdr-Day.is-passive {
    cursor: text;
    opacity: 0.4; }
  .rdr-Day.is-selected {
    color: #ffffff;
    background: #e74c3c; }
  .rdr-Day.is-inRange {
    color: #ffffff;
    background: #34495e; }
  .rdr-Day:hover:not(.is-selected) {
    background: #bdc3c7; }
  .rdr-Day.cut-off-day-cell {
    background: #bbb; }
  .rdr-Day.available-day-cell {
    background: #4677be;
    color: #fff; }
    .rdr-Day.available-day-cell.selected-by-user {
      background: #34495e; }
  .rdr-Day.unavailable-day-cell {
    background: #adbfd8;
    color: #fff; }
